/* フォントの取得 */
@font-face {
  font-family: 'DotGothic16';
  src: url('../assets/fonts/DotGothic16-Regular.ttf') format('truetype');
}

/* ゲーム画面の背景レイアウト */
body {
  background-image: url('../assets/images/Background.png');
  background-size: cover;
  background-position: center;
  font-family: 'DotGothic16', sans-serif;
  overflow: hidden;
  margin: 0;
}

/* ゲームプレイ画面 */
#game_play_screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

/* タイム */
#timer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-family: 'DotGothic16', monospace;
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 10;
}

button {
  position: absolute;
  bottom: 60px;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid #00ffff;
  background-color: #004466;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.hidden {
  display: none;
}


/* ゲームプレイ画面 */
#game_play_area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px; 
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid white;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../assets/images/game_play_background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 上下に分ける */
  align-items: center;
}

/* エネミーエリア */
#enemycanvas {
  margin-top: 100;
}

/* canvasの枠 */
canvas {
  border: 3px solid red;
}

.enemy_bullet {
  width: 30px;
  height: 30px;
}

.player_bullet {
  width: 30px;
  height: 30px;
}

/* キャラ共通スタイル */
.enemy {
  position: absolute;
  width: 160px;
  height: 160px;
}