/* ゲーム画面の背景レイアウト */
body {
  background-image: url('../assets/images/Background.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 0;
}

/* ゲームプレイ画面 */
#game_play_screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

/* ゲームプレイ画面 */
#game_play_area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px; 
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid white;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../assets/images/game_play_background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 上下に分ける */
  align-items: center;
}

/* エネミーエリア */
#enemycanvas {
  margin-top: 100px; 
}

/* canvasの枠 */
canvas {
  border: 3px solid red;
}

/* キャラ共通スタイル */
.character {
  position: absolute;
  width: 160px;
  height: 160px;
}

/* 味方の初期位置 */
.ally {
  left: 35%;
  bottom: 40px;
}

/* 敵の初期位置 */
.enemy {
  left: 35%;
  top: 40px;
}