/* フォントの取得 */
@font-face {
  font-family: 'DotGothic16';
  src: url('../assets/fonts/DotGothic16-Regular.ttf') format('truetype');
}

/* ゲーム画面の背景レイアウト */
body {
  background-image: url('../assets/images/Background.png');
  background-size: cover;
  background-position: center;
  font-family: 'DotGothic16', sans-serif;
  overflow: hidden;
  margin: 0;
}

/* ゲームプレイ画面 */
#game_play_screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

/* タイム */
#timer {
  display:none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-family: 'DotGothic16', monospace;
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 10;
}

.hidden {
  display: none;
}

/* ゲームプレイ画面 */
#game_play_area {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px; 
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid white;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../assets/images/game_play_background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 上下に分ける */
  align-items: center;
}

/* エネミーエリア */
#enemycanvas {
  margin-top: 100;
}

/* canvasの枠 */
canvas {
  border: 3px solid red;
}

/* プレイヤー攻撃 */
.enemy_bullet {
  width: 30px;
  height: 30px;
}

/* エネミー攻撃 */
.player_bullet {
  width: 30px;
  height: 30px;
}

/* キャラ共通スタイル */
.enemy {
  position: absolute;
  width: 300px;
  height: 300px;
}

/* プレイヤーHP */
.HP_style{
  display:block;
  position:absolute;
  height: 20px;
  width: 20px;
  z-index: -1;
}

/* ステージクリア */
.finish {
  position: absolute;
  border: 2px solid #00ffff;
  background-color: #004466;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  text-align: center;
}

.finish button{
  border: 2px solid #00ffff;
  background-color: #004466;
  color: #fff;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 25px;
}

/* デブリ */
.debris{
  position: absolute;
  height: 40px;
  width: 40px;
}

.big_debris{
  position: absolute;
  height: 80px;
  width: 80px;
}