/* デブリステージ */
#game_play_area {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px; 
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid white;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../assets/images/scenario_debris.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* スコア表示 */
#score_display_area {
  display:none;
  position: absolute;
  top: 10px;
  right: 200px;
  font-size: 24px;
  font-family: 'DotGothic16', monospace;
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 150;
}