/* 背景、文字などのサイズと配置調整 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: red; 
    background-image: url('../assets/images/Background.png'); 
    background-size: cover;            
    background-position: center;   
    overflow: hidden;
}

/* タイトルサイズと色 */
h1 {
  font-size: 60px;
  color: crimson;
  margin-bottom: 0px;
}

/* 文字サイズと色　*/
p {
  font-size: 25px;
  color: crimson;
  margin-bottom: 100px;
}

/* 文字サイズと色 */
label {
  font-size: 20px;
  color: crimson;
  margin-bottom: 20px;
}

/* スタートボタンサイズ */
button {
  font-size: 20px;
}

/* タイトル文字エリア */
.text-box {
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  text-align: center;
}

/* ゲーム画面表示オフ */
.hidden {
   display: none;
}

/* ゲーム画面の背景レイアウト */
#game_play_screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent; 
}

#game_play_area {
  position: absolute;
  border: 4px solid white;  
  top: 50%;
  left: 50%;
  width: 600px;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 20px;
  overflow: hidden;  
}

/* キャラ共通スタイル */
.character {
  position: absolute;
  width: 160px;
  height: 160px;
}

/* 味方の初期位置 */
.ally {
  left: 35%;
  bottom: 40px;
}

/* 敵の初期位置 */
.enemy {
  left: 35%;
  top: 40px;
}
