/* 背景、文字などのサイズと配置調整 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: red; 
    background-image: url('../assets/images/Background.png'); 
    background-size: cover;            
    background-position: center;   
    overflow: hidden;
}

/* タイトルサイズと色 */
h1 {
  font-size: 60px;
  color: crimson;
  margin-bottom: 0px;
}

/* 文字サイズと色　*/
p {
  font-size: 25px;
  color: crimson;
  margin-bottom: 100px;
}

/* 文字サイズと色 */
label {
  font-size: 20px;
  color: crimson;
  margin-bottom: 20px;
}

/* スタートボタンサイズ */
button {
  font-size: 20px;
}

/* タイトル文字エリア */
.text-box {
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  text-align: center;
}