/* 共通ピクセルフォント指定 */
body,
h1,
p,
label,
button {
  font-family: 'DotGothic16', sans-serif;
}

/* 背景、文字などのサイズと配置調整 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  color: red;
  background-image: url('../assets/images/Background.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* タイトルサイズと色 */
h1 {
  font-size: 60px;
  color: crimson;
  margin-bottom: 0px;
}

/* 文字サイズと色 */
p {
  font-size: 25px;
  color: honeydew;
  margin-bottom: 100px;
}

label {
  font-size: 20px;
  color: honeydew;
  margin-bottom: 20px;
}

/* スタートボタンサイズ */
button {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid #00ffff;
  background-color: #004466;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* タイトル文字エリア */
.text-box {
  background-color: rgba(0, 0, 64, 0.6);
  border: 4px solid #00ffff;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 500px;
}